<div class="container page-container">
	{{#if companies}}
	<h1 class="text-center">All Restaurants</h1>
	<label for="sort-restaurants">Sort by:</label>
	<select id="sort-restaurants">
		<option>Select...</option>
		<option>Most Recent</option>
		<option>Highest Rating</option>
		<option>Lowest Rating</option>
	</select>
	<br><br>
	<div class="row">
		{{#each companies}}
		<div class="col-xl-3 col-lg-3 col-md-4 col-12">
			<figure class="user-card">
				{{#if image}}
				<img src="/restaurant/image/{{id}}" alt="Milestone Admin" class="profile" id="res-img">
				{{else}}
				<img src="/images/res-holder.jpg" alt="Milestone Admin" class="profile" id="res-img">
				{{/if}}
				<h5>{{name}}</h5>
				<p class="text-truncate">{{description}}</p>
				<ul class="contacts">
					<li>
						<a href="https://www.google.com/maps/place/{{address}},+{{state}}+{{country}}" target="_blank">
							{{address}}<br>
							{{state}}, {{country}}
						</a>
					</li>
				</ul>
				<div>
					<span class="star" data-score={{rating}}></span>
					<a href="/restaurant/sort/{{id}}/recent"><span class="badge badge-pill"></span><button
							class="btn btn-warning btn-sm">See Reviews</button></span></a>
				</div>
			</figure>
		</div>
		{{/each}}
	</div>
	{{else}}
	<p class="text-center">Currently No Restaurants</p>
	{{/if}}

	{{#if companies}}
	<div class="container text-center">
		<nav class="" role="navigation">

			<a class="newer-posts" href="/restaurants/{{method}}/?page={{previous}}">{{getPrev}}</a>

			<span class="page-number"> &nbsp Page {{page}} of {{getPages companies}} &nbsp</span>

			<a class="older-posts" href="/restaurants/{{method}}/?page={{next}}"> {{getNext}}</a>
		</nav>
	</div>
	{{else}}
	{{/if}}

</div>