<div class="container page-container">
    <br>
    {{>_search-bar}}
    <div class="alert alert-info p-3 mb-5 mt-5" role="alert">
        <h4 class="alert-heading">Customers Rate Your Resturant Online!</h4>
        <p>We’ll make sure your listing stands out and that your restaurant information is accurately listed with
            customer ratings.</p>
        <hr>
        <p class="mb-0">We update your restaurant information dynamically to customers. Find out what people are saying
            about your resturant!
        </p>
    </div>
    {{#if companies}}
    <br>
    <br>
    <div class="row">
        {{#each companies}}
        <div class="col-xl-3 col-lg-3 col-md-4 col-12">
            <figure class="restaurant-card">
                {{#if image}}
                <img src="/restaurant/image/{{ id }}" alt="Milestone Admin" class="profile" id="res-img">
                {{ else }}
                <img src="/images/res-holder.jpg" alt="Milestone Admin" class="profile" id="res-img">
                {{/if}}
                <h5 class="text-nowrap">{{ name }}</h5>
                <p class="text-truncate">{{ description }}</p>
                <ul class="contacts">
                    <li>
                        <a href="https://www.google.com/maps/place/{{ address }},+{{ state }}+{{ country }}"
                            target="_blank">
                            {{ address }}<br>
                            {{ city }},
                            {{ state }}
                        </a>
                    </li>
                </ul>
                <div>
                    <span class="star" data-score={{ rating }}></span>
                    <a href="/restaurant/sort/{{ id }}/recent">
                        <span class="badge badge-pill"></span>
                        <button class="btn btn-warning btn-sm">See Reviews</button>
                        </span>
                    </a>
                </div>
            </figure>
        </div>
        {{/each}}
    </div>
    {{ else }}
    <p class="text-center">Currently No Restaurants</p>
    {{/if}}

    {{#if companies}}
    <div class="container text-center">
        <nav class="" role="navigation">

            <a class="newer-posts" href="/restaurants/{{ method }}/?page={{ previous }}">{{ getPrev }}</a>

            <span class="page-number">
                &nbsp Page
                {{ page }}
                of
                {{ getPages companies }}
                &nbsp</span>

            <a class="older-posts" href="/restaurants/{{ method }}/?page={{ next }}">
                {{ getNext }}</a>
        </nav>
    </div>
    {{/if}}
</div>